@page
@model TechnologyShopManagement_v2.Pages.HomePage.ShoppingCartModel
@{
    Layout = null;
    decimal totalBill = 0;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="~/ForHomePage/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/ForHomePage/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" asp-page="/HomePage/Home">Technology Store</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" asp-page="/HomePage/Home">Home</a></li>
                          
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <li><a class="dropdown-item" asp-page="/HomePage/DisplayCategory" asp-route-productType="laptop">Laptop</a></li>
                                    <li><a class="dropdown-item" asp-page="/HomePage/DisplayCategory" asp-route-productType="pc">PC</a></li>
                                    <li><a class="dropdown-item" asp-page="/HomePage/DisplayCategory" asp-route-productType="phone">Phone</a></li>
                                    <li><a class="dropdown-item" asp-page="/HomePage/DisplayCategory" asp-route-productType="accessory">Accessory </a></li>

                                </ul>

                            </li>


                        </ul>
                        <div style="margin-right:100px">

                    <form class="d-flex" asp-page="/HomePage/DisplayCategory" method="get" >

                                <input class="form-control me-2 " size="50" name="searchString"  type="search" placeholder="Search Product" aria-label="Search">

                                <button class="btn btn-outline-success" type="submit">Search</button>
                              </form>
                       </div>


                    </div>
                </div>

              <div class="d-flex" style="float:right;margin-right:25px"> <a class="btn btn-outline-dark" asp-area="" asp-page="/HomePage/ShoppingCart"><i class="bi-cart-fill me-1"></i>Cart <span class="badge bg-dark text-white ms-1 rounded-pill">@HttpContext.Session.GetInt32("numberCart").ToString()</span></a></div>

        @if (HttpContext.Session.GetString("isLogin") != null && HttpContext.Session.GetString("isLogin").Length > 0)
        {
                    <div class="dropdown">
                  <a class="btn btn-outline-dark dropdown-toggle"  style="margin-right: 20px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Hello @HttpContext.Session.GetString("isLogin").ToString()
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                 <li><a class="dropdown-item" asp-page="/Manager/Customer/editInformation">Profile</a></li>
                    <li><a class="dropdown-item" asp-page="/Manager/Customer/customerManager">Account Manager</a></li>
            <li><a class="dropdown-item" asp-page="/Manager/LogOut">LogOut</a></li>
          </ul>
        </div>

        }
        else
        {
                     <a style="margin-right: 20px;" class="btn btn-outline-dark" asp-page="/Manager/Login" >Login</a>

        }
         </nav>




        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>

                </div>
            </div>
        </header>



<table class="table">
    <thead>
        <tr>

            <th scope="col">Product Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Edit</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>

            @if (Model.ProductsListCart != null)
            {


                @foreach (var product in Model.ProductsListCart)
                {
                    var  productPrice =(decimal) product.Item1.Price;
                    int productQuantity = product.proQuantity;
                    decimal total = (productPrice * productQuantity);
         
                    totalBill += total;

                                         <form method="post">
                                <tr>

                                    <td>@product.Item1.ProductName</td>
                                    <td><img src="@product.Item1.ProImage" width="150" height="150"/></td>
                        <td>@product.Item1.Price?.ToString("#,##0")₫</td>
                       
                        <td>

                                        <input type="number" name="proid" min="0" value="@product.Item1.Id" hidden>
                            <input  type="number" name="proQuantity" min="1" value="@product.proQuantity" max="@product.Item1.Stock" style="width:90%;">
                                    </td>
                                    <td>

                                        <button type="submit" name="saveEditProduct" class="btn btn-sm btn-primary">Save</button>

                                        <a asp-page="DeleteProduct" asp-route-proId="@product.Item1.Id" class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                        <td>@total.ToString("#,##0")₫</td>
                                </tr>
                                 </form>




                }
            }

    </tbody>
</table>    

<div style="margin-right:100px;">


<h3 style="float:right;color:red">Total:  @totalBill.ToString("#,##0")₫ </h3>
 @if (HttpContext.Session.GetString("isLogin") != null && HttpContext.Session.GetString("isLogin").Length > 0)
        {
            @if (totalBill > 0)
            {
                <a asp-page="/HomePage/checkoutForCustomer" asp-route-totalBill="@totalBill" class="btn btn-success" style="float:right;margin-right:35px;">Buy Now</a>

            }
            else
            {
                               <a asp-page="/HomePage/Home"  class="btn btn-success" style="float:right;margin-right:35px;">Buy New Product !!!</a>

            }
        }
        else
        {
            @if (totalBill > 0)
            {
                      <a asp-page="/HomePage/checkoutShoppingCart" class="btn btn-success" style="float:right;margin-right:35px;">Buy Now</a>
            }
            else
            {
                                       <a asp-page="/HomePage/Home"  class="btn btn-success" style="float:right;margin-right:35px;">Buy New Product !!!</a>

            }
               
        } 

</div>


    

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/ForHomePage/js/scripts.js"></script>
    </body>
</html>
